<div id="loadingdiv" style="z-index:5000; background-color:rgba(255, 255, 255, 0.9); height:100%; width:100%; text-align:center; vertical-align:middle; display:none; position:absolute; padding:270px 20px 20px;"><img src="images/preloader.gif"><br><br><p style="font-size: 20px;"><em id="loadingText">Decrypting...</em></div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  	<div class="modal-dialog" role="document">
    	<div class="modal-content">
      		<div class="modal-header">
	        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        	<h4 class="modal-title">Decrypted Payload:</h4>
      		</div>
	      	<div class="modal-body">
	        	<div class="form-group">
	        	  	<textarea class="form-control" rows="12" id="decryptedPayload"></textarea>
	        	</div>
	      	</div>
	      	<div class="modal-footer">
	        	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        	<button type="button" class="btn btn-primary" id="copyButtonDecrypt">Copy</button>
	      	</div>
    	</div>
  	</div>
</div>
<form method="POST" id="form_params_decrypt" class="form-card">
	<div>
		<h2 class="form-card-heading">Decrypt here...</h2>
		<div>
			<label class="radio-inline">
				<input type="radio" name="format" id="format1" checked /> Key-Value
			</label>
			<label class="radio-inline">
			  	<input type="radio" name="format" id="format2" /> JSON Payload
			</label>
		</div>
	</div>
	<div id="keyvalue" style="">
		<h3 class="add_param" style="padding-bottom: 30px; width: 30px; cursor: pointer; float: right;" title="Add More Parameters"><i class="fa fa-plus"></i></h3>
		<div class="params">
			<div class="form-group">
				<label class="control-label" style="padding-top: 50px;">#1</label>
			    <div>
			      	<input type="text" placeholder="Insert Parameter Key" class="form-control param_key" name="paramKey[]" required />
			    </div>
			    <div>
			      	<input type="text" placeholder="Insert Parameter Value" class="form-control param_value" name="paramValue[]" required />
			    </div>
			</div>
		</div>
		<label class="control-label" style="padding-top: 50px;">Decryption Key</label>
		<input type="text" placeholder="Insert Decryption Key" class="form-control decryption_key" name="decryption_key" required />
		<input type="submit" class="btn btn-lg btn-primary btn-block" value="Decrypt" />
	</div>
</form>
<form method="POST" id="form_params_raw_decrypt" class="form-card" style="margin-top: -50px; display: none;">
	<div class="form-group">
	  	<textarea class="form-control" rows="12" id="rawParamE" placeholder="Insert Encrypted JSON Payload" required>
	  	</textarea>
	</div>
	<label class="control-label" style="padding-top: 30px;">Decryption Key</label>
	<input type="text" placeholder="Insert Decryption Key" class="form-control raw_decryption_key" name="raw_decryption_key" required />
	<input type="submit" class="btn btn-lg btn-primary btn-block" id="raw_decrypt" value="Decrypt" />
</form>