<div class="container">
	<h2>3DES Encrypt</h2>
	<span>Triple DES (3DES) is a symmetric-key block cipher, which applies the Data Encryption Standard (DES) cipher algorithm three times to each input data.</span>
	<ul>
		<li><a href="/encrypt"><button type="button" class="btn btn-default">3DES-ECB Encrypt</button></a></li>
	</ul>
	<h2>3DES Decrypt</h2>
	<span>This Decrypts a data block that is Triple DES (3DES) encrypted into raw data. </span>
	<ul>
		<li><a href="/decrypt"><button type="button" class="btn btn-default">3DES-ECB Decrypt</button></a></li>
	</ul>
</div>